**/workspace.xml
**/bin/
**/obj/
_DSharpPlus
packages
/token.txt
/.vs/HSNXT.DSharpPlus/DesignTimeBuild/.dtbcache
/.vs/HSNXT.DSharpPlus/v15/.suo
/.vs/HSNXT.DSharpPlus/v15/Server/sqlite3/db.lock
/.vs/HSNXT.DSharpPlus/v15/Server/sqlite3/storage.ide
/.vs/HSNXT.DSharpPlus/v15/Server/sqlite3/storage.ide-shm
/.vs/HSNXT.DSharpPlus/v15/Server/sqlite3/storage.ide-wal
/HSNXT.DSharpPlus.ModernEmbedBuilder/_local_HSNXT.DSharpPlus.ModernEmbedBuilder.csproj
/HSNXT.Test.DiscordRPC.NotepadPlusPlus/discord-rpc.dll
/HSNXT.Test.DiscordRPC.VLCa/discord-rpc.dll
/HSNXT.Test.VLCRPC/discord-rpc.dll
doxygen_out
