[submodule "DSharpPlus"]
	path = DSharpPlus
	url = https://github.com/uwx/DSharpPlus.git
[submodule "DSharpPlus.ModernEmbedBuilder"]
	path = DSharpPlus.ModernEmbedBuilder
	url = https://gitlab.com/chrishansen69/DSharpPlus.ModernEmbedBuilder-local.git
