[submodule "DSharpPlus"]
	path = DSharpPlus
	url = https://github.com/uwx/DSharpPlus.git
[submodule "HSNXT.DSharpPlus.ModernEmbedBuilder"]
	path = HSNXT.DSharpPlus.ModernEmbedBuilder
	url = https://github.com/uwx/HSNXT.DSharpPlus.ModernEmbedBuilder.git
