<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elders.PowerCollections" version="1.0.0" targetFramework="net45" />
  <package id="SD.Tools.BCLExtensions" version="1.1.1" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net45" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.0.21" targetFramework="net45" />
  <package id="System.Web.Mvc.Extensions" version="1.1.1.2" targetFramework="net45" />
</packages>